#clock{
    margin: 300px 300px;
    /* display: grid; */
    height: 160px;
    width: 160px;
    border: 5px solid green;
    /* margin-right: 40px; */
    border-radius: 50%;
}
.hr{
    position: absolute;
    border: 2px solid black;
    width: 50px;
    transform-origin: 0%;
    transform: rotate(124deg);
    margin: 80px 0px 0px 80px;
    padding: 0;
}
.min{
    position: absolute;
    border: 2px solid rgb(218, 5, 5);
    width: 70px;
    transform-origin: 0%;
    transform: rotate(35deg);

    margin: 80px 0px 0px 80px;
    padding: 0;
}
.sec{
    position: absolute;
    border: 2px solid rgb(27, 13, 216);
    width: 70px;
    transform-origin: 0%;
    transform: rotate(25deg);
    margin: 80px 0px 0px 80px;
    padding: 0;
}
.hinge{
    position: absolute;
    border: 4px solid rgb(0, 0, 0);
    width: 0px;
    border-radius: 50%;
    /* margin-right: 79px; */
    margin: 79px 0px 0px 79px;
    padding: 0;
}

/* rotate hands */
.rotated{
    transform-origin: 0%;
    transform: rotate(6deg);
}