#clock{
    margin: 200px 40%;
    /* display: grid; */
}
.hr{
    position: absolute;
    border: 2px solid black;
    width: 50px;
    transform-origin: 0%;
    transform: rotate(180deg);
    margin: 0 0 0 80px;
    padding: 0;
}
.min{
    position: absolute;
    border: 2px solid rgb(218, 5, 5);
    width: 80px;
    transform-origin: 0%;
    transform: rotate(35deg);

    margin: 0 0 0 80px;
    padding: 0;
}
.sec{
    position: absolute;
    border: 2px solid rgb(27, 13, 216);
    width: 80px;
    transform-origin: 0%;
    transform: rotate(23deg);
    margin: 0 0 0 80px;
    padding: 0;
}
.hinge{
    position: absolute;
    border: 4px solid rgb(0, 0, 0);
    width: 0px;
    border-radius: 50%;
    /* margin-right: 79px; */
    margin: -2px 0px 0px 79px;
    padding: 0;
}

/* rotate hands */
.rotated{
    transform-origin: 0%;
    transform: rotate(6deg);
}