body{
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
}

#clock{
    /* margin: 300px 300px; */
    /* display: grid; */
    display: block;
    margin: 40% auto;
    height: 400px;
    width: 400px;
    border: 8px solid rgb(255, 255, 255);
    /* margin-right: 40px; */
    border-radius: 50%;
}
.hr{
    position: absolute;
    border: 2px solid black;
    width: 120px;
    transform-origin: 0%;
    transform: rotate(124deg);
    margin: 200px 0px 0px 200px;
    padding: 0;
}
.min{
    position: absolute;
    border: 2px solid rgb(3, 3, 3);
    width: 180px;
    transform-origin: 0%;
    transform: rotate(35deg);

    margin: 200px 0px 0px 200px;
    padding: 0;
}
.sec{
    position: absolute;
    border: 2px solid rgb(5, 4, 15);
    width: 180px;
    transform-origin: 0%;
    transform: rotate(25deg);
    margin: 200px 0px 0px 200px;
    padding: 0;
}
.hinge{
    position: absolute;
    border: 4px solid rgb(0, 0, 0);
    width: 0px;
    border-radius: 50%;
    /* margin-right: 79px; */
    margin: 198px 0px 0px 198px;
    padding: 0;
}

/* rotate hands */
.rotated{
    transform-origin: 0%;
    transform: rotate(6deg);
}
p{
    margin: 100px auto auto 160px;
}

